            h1 {
                font-size : 45px;
                text-align : center;
                border-bottom : 1px solid gray;
                margin : 0;
                padding : 50px;
            }
            
            .list {
                border-right : 1px solid gray;
                width : 200px;
                margin : 0;
                padding : 20px;
                padding-left : 45px;
            }
            
            .article {
                margin-left : 110px;
                padding : 20px;
            }
            
            #grid{
                display : grid;
                grid-template-columns : 150px 1fr;
            }
            
            @media(max-width : 700px) {
                #grid{
                display : block;
                }
                
                h1 {
                font-size : 30px;
                text-align : center;
                border-bottom : 1px solid gray;
                margin : 0;
                padding : 50px;
                }
                
                .article {
                margin-left : 0px;
                padding : 20px;
                }
                
                .list {
                border-right : none;
                width : 200px;
                margin : 0;
                padding : 20px;
                padding-left : 45px;
                }
            }